.select span.main {
    border: 1px solid blue;
    display: inline-block;
    min-height: 20px;
    min-width: 80px;
    /*padding: 5px;*/
    /*width: 100%;*/
    /*max-width: 120px;*/
}

.items {
    position: absolute;
    border: 1px solid red;
    padding: 5px;
    width: 100%;
    max-width: 120px;
}

.item.selected {
    background-color: #1ea7fd;
    color: white;
}
